@charset "UTF-8";

body {
    margin:auto;
    max-width:860px;
    font-family:"Helevatica Neue", "Liberation Sans", Calibri, Arial, sans-serif;
    font-size:100%;
}

h1 {
    font-family: 'Merienda', cursive;
}

h1::first-letter {
    color:#00AF64;
}

section,
header,
footer {
    outline:1px solid red;
}

header {
    text-align:center;
}

footer {
    margin-top:3em;
    text-align:center;
    color: #999;
}

.startpage {
    display:flex;
    flex-wrap:wrap;
    justify-content:space-between;

    header,
    footer {
        flex:0 0 100%;
    }
    section {
        flex:0 0 22%;
    }
    h1 {
        font-size: 500%;
    }
    .logo {
        width:235px;
        height:198px
    }
}

.tagline {
    font-size:120%;
    padding:0.5em;
    border-top:3px double #00AF64;
    border-bottom:3px double #00AF64;
    margin:1em 0;
}

.menu {
    h2 {
        margin:0 0 1em;
        padding:2em 0;
        background-color: #F5F5F5;
        text-align: center;

        box-shadow:inset 0 0 20px #007241;
        border-radius:50%;

        font-family: 'Merienda', cursive;
    }
    a:link,
    a:visited  {
        text-decoration:none;
        color:#000;
    }
    a:focus,
    a:hover {
        text-decoration:underline;
        color:#A62F00;
    }
    a:active {
        text-decoration:underline;
        color:#FF4900;
    }
}

.hwrap {
    display:flex;
    flex-wrap:wrap;
    align-items:center;
    justify-content:center;

    a {
        margin-right:30px;
    }
}